/* expandable */
.expandable {
  background-color: #a0e0a0;
  padding: .1em .25em 0em .25em;
  border-radius: .5em;
  margin-bottom: .5em;
}

.expandable .head {
  margin: .1em inherit 0em inherit;
}

/* workpiece */
#workpiece table {
  width: 100%;
}

#workpiece table input {
  text-align: right;
  flex: 1;
  width: 100%;
}

/* tools */
#tools {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px;
  margin: 0px 2px 0px 2px;
  list-style-type: none;
}

input.invalid-true {
  background-color: #ff8888;
}

#tools li ng-form {
  display: flex;
  flex: 1;
  cursor: move;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

div.hcenter {
  text-align:center;
  margin: -.35em inherit -1.8em inherit;
  padding: 0;
}

.button-char {
  cursor: crosshair;
  font-size: 150%;
  font-style: bold;
  margin-left: .3em;
}

input.diameter {
  text-align: right;
  flex: 1;
  margin-left: 0.5em;
}


body {
  display: flex;
  flex-flow: row nowrap;
  background-color: #a0e0a0;
}

div.left {
  width: 10em;
  margin-right: 10px;
  padding: .5em;
  background-color: #c0ffc0;
}

.execution {
  margin-top: .15em;
}

textarea {
  width: 100%;
  height: 20em;
  box-sizing: border-box;
  margin-left: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.content {
  flex: 1;
  flex-flow: column;
  padding: 2px;
  margin-left: 0px;
  padding-bottom: 5px;
  background-color: #c0ffc0;
}

canvas {
  display: flex;
}
