body {
    display: flex;
    flex-flow: row nowrap;
    background-color: #a0e0a0;
}

div.left {
    width: 20em;
    margin-right: 10px;
    padding: 1em;
    background-color: #c0ffc0;
}

.diameter-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.diameter {
    text-align: right;
    flex: 1;
    margin-left: 0.5em;
}

textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.content {
    flex: 1;
    flex-flow: column;
    padding: 2px;
    margin-left: 0px;
    padding-bottom: 5px;
    background-color: #c0ffc0;
}

div, canvas {
    zborder: 1px solid gray;
}

canvas {
    display: flex;
}