<!DOCTYPE html>
<html ng-app>
<head>
    <title>g-code simulator</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/foundation.min.css"/>
</head>
<body ng-controller="ThreeJsCtrl">
<div class="row">
    <div class="small-12 columns">
        <h1>g-code simulator</h1>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <div class="row">
            <input type="button" value="Mill 1" ng-click="Mill1()"/>
        </div>
        <div class="row">
            <input type="button" value="Mill 2" ng-click="Mill2()"/>
        </div>
        <div class="row">
            <input type="button" value="Mill 3" ng-click="Mill3()"/>
        </div>
    </div>
    <div class="small-6 columns">
        <div id="container">
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/three-r58.js"></script>
<script src="js/OrbitControls.js"></script>
<script src="js/ThreeCSG.js"></script>
<script src="js/scene.js"></script>
<script src="js/controller.js"></script>
<script type="application/javascript">
    scene.init();
</script>
</body>
</html>
